@media (max-width: 1450px){
    .person-btn__laters{
        width: 25%;
    }
}

@media (max-width: 1300px){
    .person-btn__container{
        width: 18%;
    }
}

@media (max-width: 1150px){
    .person-btn__container{
        width: 22%;
    }
}

@media (max-width: 1050px){
    .person-btn__container{
        width: 25%;
    }
}

@media (max-width: 950px){
    .person-btn__container{
        width: 33%;
    }
}

@media (max-width: 850px){
    .person-btn__container{
        width: 40%;
    }
}

@media (max-width: 750px){
    .person-btn__container{
        width: 45%;
    }
}
