.person-btn__container{
    width: 265px;
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.person-btn__laters{
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7B61FF;
    border: 1px solid #7B61FF;
    color: #FFFFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    line-height: 24px;
}

.person-btn__name{
    color: #FFFFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.person-btn{
    background: inherit;
    outline: none;
    border: none;
    width: 15%;
    height: 40px;
    &:active{
        border-color: inherit;
    }
    &:focus{
        outline: none;
    }
    &:hover{
        border: 1px solid #7B61FF;
        border-radius: 10px;
        cursor: pointer;
    }
    .person-btn__arrow{
        cursor: pointer;
    }
}