.moviesGenre{
    height: 30px;
    background: #242426;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding-left: 10px;
    padding-top: 5px;
}

.moviesGenre-text{
    color: #FFFFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.moviesGenre-btn{
    background: inherit;
    outline: none;
    border: none;
    &:hover{
        cursor: pointer;
        path{
            fill: #7B61FF;
            transition: 0.3s;
           }
    }
}