.movies-container{
    width: 14.72%;
}

.movies-poster{
    width: 100%;
    border-radius: 20px;
}

.movies-name{
    color: #FFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 25px;
}

.movies-genre{
    color: #AFB2B6;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 5px;
}