@media (max-width: 1250px){
    .movies{
        justify-content: start;
    }
}

@media (max-width: 1150px){
    .movies{
        justify-content: space-around;
    }
}

@media (max-width: 850px){
    .movies{
        margin-left: 35px;
    }
}