.tabs{
    width: 9%;
    height: 215px;
}

.tabs-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tabs-container{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    &:hover .tabs-logo{
       path{
        fill: #7B61FF;
        transition: 0.3s;
       }
    }
    &:hover .tabs-text{
        cursor: pointer;
        color: #7B61FF;
        transition: 0.3s;
    }
}

.tabs-container.active{
    color: red;
}

.tabs-link{
    text-decoration: none;
}

.tabs-text{
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #80858B;
    margin-left: 20px;
}

.tabs-patent{
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #80858B;
}

