@media (max-width: 1350px){
    .tabs{
        width: 11%;
    }
}

@media (max-width: 1150px){
    .tabs{
        width: 12%;
    }
}

@media (max-width: 1050px){
    .tabs{
        width: 13%;
    }
}

@media (max-width: 950px){
    .tabs{
        width: 15%;
    }
}

@media (max-width: 850px){
    .tabs{
        width: 17%;
    }
}