.sort-input__container{
    width: 84.47%;
    margin-bottom: 25px;
}

.sort-input__title{
    color: #FFFFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.sort-input__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.sort-input{
    width: 42.53%;
    height: 55px;
    background: #323537;
    color: #80858B;
    border: 1px solid #323537;
    border-radius: 10px;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    padding-left: 15px;
    &:focus{
        color: #FFFFFF;
        border: 2px solid ;
        outline: none;
        border: 2px solid #7B61FF;
    }
    &:hover{
        cursor: pointer;
    }
    &:active{
        color: #FFFFFF;
    }
    &:disabled{
        background: #80858B;
    }
}

.country-input__container{
    margin-bottom: 110px;
}
