.search-container{
    width: 63%;
    display: flex;
}

.search{
    width: 100%;
    flex-grow: 1;
    padding: 16px 20px;
    background: #323537;
    color: #80858B;
    border-radius: 10px;
    border: 1px solid #323537;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    outline: none;
    &:hover{
        cursor: pointer;
    }
    &:focus{
        color: #FFFFFF;
        border: 2px solid ;
        outline: none;
        border: 2px solid #7B61FF;
    }
    &:active{
        color: #FFFFFF;
    }
    &:disabled{
        background: #80858B;
    }
}

.search.white{
    background: white;
}

.search-btn.white{
    position: absolute;
    right: 430px;
    top: 60px;
    background: #FFFFFF;
    outline: none;
    border: none;
    &:hover{
        cursor: pointer;
        path{
            fill: #7B61FF;
            transition: 0.3s;
           }
    }
}

.search-btn{
    position: absolute;
    right: 430px;
    top: 60px;
    background: #323537;
    outline: none;
    border: none;
    &:hover{
        cursor: pointer;
        path{
            fill: #7B61FF;
            transition: 0.3s;
           }
    }
}

