@media (max-width: 1750px){
    .search-btn{
        right: 380px;
    }
}

@media (max-width: 1650px){
    .search-btn{
        right: 350px;
    }
}

@media (max-width: 1550px){
    .search-btn{
        right: 320px;
    }
}

@media (max-width: 1550px){
    .search-btn{
        right: 340px;
    }
}

@media (max-width: 1500px){
    .search-btn{
        right: 320px;
    }
}

@media (max-width: 1450px){
    .search-btn{
        right: 310px;
    }
}

@media (max-width: 1400px){
    .search-btn{
        right: 290px;
    }
}

@media (max-width: 1300px){
    .search-btn{
        right: 300px;
    }
}

@media (max-width: 1200px){
    .search-btn{
        right: 280px;
    }
}

@media (max-width: 1150px){
    .search-btn{
        right: 310px;
    }
}

@media (max-width: 1100px){
    .search-btn{
        right: 290px;
    }
}

@media (max-width: 1050px){
    .search-btn{
        right: 300px;
    }
}

@media (max-width: 1000px){
    .search-btn{
        right: 290px;
    }
}

@media (max-width: 950px){
    .search-btn{
        right: 320px;
    }
}

@media (max-width: 900px){
    .search-btn{
        right: 300px;
    }
}

@media (max-width: 800px){
    .search-btn{
        right: 280px;
    }
}

@media (max-width: 750px){
    .search-btn{
        right: 270px;
    }
}
