@media (max-width: 1150px){
    .movie-desc__list{
        width: 80%;
    }
}

@media (max-width: 1050px){
    .movie-desc__list{
        width: 90%;
    }
}

@media (max-width: 950px){
    .movie-desc__list{
        width: 100%;
    }
}