* {
    box-sizing: border-box;
}

.filters{
    width: 26.82%;
    background: #242426;
    border-radius: 10px 0 0 10px;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(+100%);
    transition: all 0.8s;
    z-index: 10;
}

.filters.active{
    transform: translateX(0);
}

.filters-wrapper{
    width: 84.47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.filters-title__container{
    width: 84.47%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    padding-top: 45px;
}

.filters-title{
    color: #FFFFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.filters-title__btn{
    background: inherit;
    outline: none;
    border: none;
    &:hover{
        cursor: pointer;
        path{
            fill: #7B61FF;
            transition: 0.3s;
           }
    }
}

.genre-title{
    color: #FFFFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.filters-btn__container{
    width: 84.47%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.filters-btn{
    width: 43%;
    height: 55px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    &.gray{
        background: #323537;
        &:hover{
            background: #7B61FF;
            color: #323537;
        }
    }
    &.purple{
        background: #7B61FF;
        &:hover{
            background: #323537;
            color: #7B61FF;
        }
    }
    &:hover{
        cursor: pointer;
        transition: 0.4s all;
    }
}