* {
    box-sizing: border-box;
}

.movies-container{
    width: 14.72%;
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid transparent;
    &:hover{
        cursor: pointer;
        transition: 0.4s all;
    }
    &:hover .movies-name{
        color: #7B61FF;
    }

    &:hover .movies-poster{
        border: 1px solid #7B61FF;
        border-radius: 20px;
    }
    .movies-poster{
        width: 100%;
        height: 300px;
        border-radius: 20px;
    }
}

.movies-name{
    color: #FFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 25px;
    display: inline-block;
}

.movies-name.white{
    color: black;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 25px;
    display: inline-block;
}

.movies-type{
    color: #AFB2B6;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 5px;
}
