@media (max-width: 1450px){
    .movies-container{
        width: 17.72%;
    }
}

@media (max-width: 1250px){
    .movies-container{
        width: 20.72%;
        margin-right: 35px;
    }
}

@media (max-width: 1150px){
    .movies-container{
        width: 22.72%;
    }
}

@media (max-width: 1050px){
    .movies-container{
        width: 25.72%;
    }
}

@media (max-width: 850px){
    .movies-container{
        width: 38.72%;
        height: 400px;
    }
}
