@media (max-width: 1450px){
    .movies-container{
        width: 17.72%;
    }
}

@media (max-width: 1250px){
    .movies-container{
        width: 20.72%;
    }
}

@media (max-width: 1150px){
    .movies-container{
        width: 22.72%;
    }
}

@media (max-width: 1050px){
    .movies-container{
        width: 25.72%;
    }
}
